
.section-typeA__image { grid-area: image; }
.parapgraphe-bouton-conteneur { grid-area: paragraphe; }

.section-typeA {
  display: grid;
  grid-template-areas:
    'image image image image image image'
    'paragraphe paragraphe paragraphe paragraphe paragraphe paragraphe'
    'paragraphe paragraphe paragraphe paragraphe paragraphe paragraphe';
  gap: 10px;
  grid-template-columns: 5fr 1fr 1fr 1fr 2fr;
  padding: 10px;

  @media (min-width: 640px) {
    grid-template-areas:
    'image image image paragraphe paragraphe paragraphe'
    'image image image paragraphe paragraphe paragraphe'
    'image image image paragraphe paragraphe paragraphe';

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.actualite__image { grid-area: image; }
.actualite-paragraphe-titre { grid-area: paragraphe; }

.actualite {
    display: grid;
    grid-template-areas:
    'image image image image image image'
    'paragraphe paragraphe paragraphe paragraphe paragraphe paragraphe';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

@media (min-width: 640px) {
  .inverse {
    grid-template-areas:
    'paragraphe paragraphe paragraphe image image image'
    'paragraphe paragraphe paragraphe image image image'
    'paragraphe paragraphe paragraphe image image image';
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
  }
}

