
.section-typeA__image { grid-area: image; }
.parapgraphe-bouton-conteneur { grid-area: paragraphe; }

.section-typeA {
  display: grid;
  grid-template-areas:
    'image image image image image image'
    'paragraphe paragraphe paragraphe paragraphe paragraphe paragraphe'
    'paragraphe paragraphe paragraphe paragraphe paragraphe paragraphe';
  gap: 10px;
  grid-template-columns: 5fr 1fr 1fr 1fr 2fr;
  padding: 10px;
}
