@charset "UTF-8";

/**
 * @author Daren Garneau-Dionne [2065779@csfoy.ca]
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Menu
 * Grille
 * Mise en page
 *** Contenus principal et complémentaire
 *** Architecture des CSS (liste de définitions)
 *** Pied de page
 */

/* Normalize
   ========================================================================== */
@import "normalize.scss";

/* Utilitaires
   ========================================================================== */
@import "_utilitaires.scss";

/* Charte typographique
   ========================================================================== */
@import "_typo.scss";

/* Menu
   ========================================================================== */
@import "_menu.scss";

/* Grille
   ========================================================================== */
@import "_grille.scss";

/* Mise en page
   ========================================================================== */
body, header, main, footer {
    background-color: black;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.nav__liste {
   list-style: none;
}

.nav a {
   text-decoration: none;
   color: white;
}

.section-lien-conteneur {
   margin: auto;
   width: 85%;
}

.section-typeA {
   margin: 100px 0 100px 0;
}

.section-typeA__p, .btn__main-conteur {
   display: flex;
   width: 90%;
}

.section-typeA__image, .actualite img {
   width: 100%;

   @media(min-width: 640px){
      height: 600px;
      object-fit: cover;
   }
}

.parapgraphe-bouton-conteneur {
   margin: auto;
   width: 90%;
   display: flex;
   flex-direction: column;
}

.btn__main {
   width: max-content;
   display: flex;
   padding: 10px 20px 10px 20px;
   text-align: center;
   border-radius: 22px;
   background-color: white;
   color: black;
   text-decoration: none;
   transition: opacity .2s ease-in-out,background .4s ease-in-out,color .4s ease-in-out;
   font-family: Source Sans Pro;
   letter-spacing: .8px;
   line-height: 1.71;
   align-items: center;

    &:hover {
        background-color: rgb(185, 185, 185);
    }

    @media(min-width: 640px){
      padding: 15px 30px 15px 30px;
      border-radius: 32px;
   }
}

.fleche {
   display: flex;
   align-items: center;
   width: 13px;
   margin-left: 12px;
}

.grand-texte {
   text-align: center;
   line-height: 1.2;

   @media (min-width: 640px) {
      margin: auto;
      width: 50%; 
      padding: 30px 0;
   }
}

.texte-pleine-page {
   @media (min-width: 640px) {
      width: 100%; 
   }
}

.section-centre {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 150px 0;
}

.actualite {
   color: white;
   text-decoration: none;

   @media (min-width: 640px) {
      width: 80%;

      &:first-of-type {
         margin: 0 2% 0 0;
      }
   }
}

.actualite-conteneur {
   margin: auto;

   @media (min-width: 640px) {
      width: 85%;
      display: flex;
      margin: auto;
   }
}

.actualite-paragraphe-titre {
   width: 90%;
   display: flex;
   flex-direction: column;
   margin: auto;

   @media (min-width: 640px) {
      flex-direction: row;
   }
}

.parapgraphe-bouton-conteneur {
   width: 100%;

   @media(min-width: 640px){
      width: 70%;
   }
}

.actualite-paragraphe-titre p {
   letter-spacing: 1.8px;
   line-height: 1.5;
}

.footer__liste, .footer-media {
   margin: 0;
   padding: 0;
   list-style: none;
}

.footer__liste {

   @media(min-width: 640px){
      margin-right: 4%;
   }
}

.footer-conteneur {
   width: 90%;
   margin: auto;
}

.footer-liste-conteneur {
   display: flex;
   flex-direction: column;

   @media(min-width: 640px){
     flex-direction: row;
   }
}


.footer-liste__lien {
   position: relative;
   width: max-content;
   color: white;

   &::before, &::after {
      animation: fondu .3s ease-in-out;
      color: rgba(255, 255, 255, 0.412);
   }

   &:hover::before {
      width:auto;
      position:absolute;
      content: '[';
      left: calc(-1px);
   }

   &:hover::after { 
      width:auto;
      position:absolute;
      content: ']';
      right: calc(2px);
   }

}

@keyframes fondu {
   0% { opacity: 0; }
   100% { opacity: 1; }
}

.lien-actif {

   &::before {
      position:absolute;
      content: '[';
      left: calc(-1px);
   }

   &::after {
      position:absolute;
      content: ']';
      right: calc(2px);
   }
}

.infolettre__btn {
   background-color: black;
   border: none;
   color: white;
   padding: 10px 10px;
   cursor: pointer;

   @media (min-width:640px) {
      width: max-content;
      display: inline-flex;
      align-items: center; 
      padding: 15px 30px 15px 30px;
      margin-right: 18px;
      border: 1px solid hsla(0,0%,100%,.55);
      border-radius: 30px;
      opacity: .9;
      background: none;
      transition: border .3s ease-in-out;

      &:hover {
         border: 1px solid hsla(0,0%,100%,.25);
      }
   }
}
  
.footer-media {
   display: flex;
   padding: 30px 10px;
}

.infolettre-et-media {

   @media (min-width:640px) {
      display: flex;
      background: none;
      align-items: center;
      justify-content: flex-end;
   }
}

.footer-media__lien  {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 25px 0 0;
}

@media (min-width:640px) {
   .actualite-paragraphe-titre > * {
      margin: 1% 2%;
      width: 50%;
   }
}