@charset "UTF-8";

/**
 * @author Daren Garneau-Dionne [2065779@csfoy.ca]
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Menu
 * Grille
 * Mise en page
 *** Contenus principal et complémentaire
 *** Architecture des CSS (liste de définitions)
 *** Pied de page
 */

/* Normalize
   ========================================================================== */
@import "normalize.scss";

/* Utilitaires
   ========================================================================== */
@import "_utilitaires.scss";

/* Charte typographique
   ========================================================================== */
@import "_typo.scss";

/* Menu
   ========================================================================== */
@import "_menu.scss";

/* Grille
   ========================================================================== */
@import "_grille.scss";

/* Mise en page
   ========================================================================== */
body, header, main, footer {
    background-color: black;
}

.nav__liste {
   list-style: none;
}

.nav a {
   text-decoration: none;
   color: white;
}

.section-lien-conteneur {
   margin: auto;
   width: 90%;
}

.section-typeA {
   margin: 100px 0 100px 0;
}

.section-typeA__p, .btn__main-conteur {
   display: flex;
   width: 90%;
}

.parapgraphe-bouton-conteneur {
   margin: auto;
   width: 90%;
   display: flex;
   flex-direction: column;
}

.btn__main {
   width: max-content;
   padding: 10px 20px 10px 20px;
   text-align: center;
   border-radius: 22px;
   background-color: white;
   color: black;
   text-decoration: none;
   transition: opacity .2s ease-in-out,background .4s ease-in-out,color .4s ease-in-out;
   font-family: Source Sans Pro;
   letter-spacing: .8px;
   line-height: 1.71;
   align-items: center;

    &:hover {
        background-color: rgb(221, 221, 221);
    }
}

.grand-texte {
   text-align: center;
}

.section-centre {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 150px 0;
}

.actualite {
   color: white;
   text-decoration: none;
   margin: 100px 0 100px 0;
}

.actualite-paragraphe-titre {
   width: 90%;
   display: flex;
   flex-direction: column;
   margin: auto;
}

.actualite-paragraphe-titre p {
   letter-spacing: 1.8px;
   line-height: 1.5;
}

.footer__liste, .footer-media {
   margin: 0;
   padding: 0;
   list-style: none;
}

.footer-conteneur {
   width: 90%;
   margin: auto;
}

.footer-liste-conteneur {
   display: flex;
   flex-direction: column;
}

.footer-liste__item a {
   position: relative;
   width: max-content;
   color: white;
}

.footer-liste__item a:before, .footer-liste__item a:after {
   opacity: 0;
   transition: opacity .3s ease-in-out;
}

.footer-liste__item a:hover::before
{
   width:auto;
   position:absolute;
   opacity: 1;
   content: '[';
   left: calc(-1px);
   transition: opacity .3s ease-in-out;
   /*La transition ne fonctionne pas. Cela fonctionnerait peut-être avec l'utilisation d'un span*/
}

.footer-liste__item a:hover::after 
{
   width:auto;
   position:absolute;
   opacity: 1;
   content: ']';
   right: calc(2px);
   transition: opacity .3s ease-in-out;
   /*La transition ne fonctionne pas. Cela fonctionnerait peut-être avec l'utilisation d'un span*/
}

.infolettre__btn {
   background-color: black;
   border: none;
   color: white;
   padding: 10px 10px;
}
  
.footer-media {
   display: flex;
   padding: 30px 10px;
}

.footer-media__lien  {
   padding: 0 25px 0 0;
}
